apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-color-deployment
  labels:
    app: webapp-color
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp-color
  template:
    metadata:
      labels:
        app: webapp-color
    spec:
      containers:
      - name: webapp-color
        image: youssefjouili33/spring-app
